/* =Variables
-------------------------------------------------------------- */
$base-font-size: 16px;
$base-body-color: #e5dedf;
$icon-color: #f00;
$primary-font-color: #441D31;
$grey: #ededed;
$link-color: #c5b7bc;
$title: $helvetica;
$content: $georgia;
$shadow: rgba(0, 0, 0, .6);
